<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitassyifaproject.acmc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:name=".config.AcmcApp"
        android:icon="@mipmap/ic_acmclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_acmclogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acmc"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".order.ui.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".home.ui.HomeActivity"
            android:exported="true"
            android:theme="@style/StatusBarRed" />
        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/MainBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>